%h2= "Edit #{@expense.item}"
%form(action="/expenses/#{@expense.id}/edit" method="POST")
  %div(class="form-group")
    %label(for="item") Item
    %input{ type: "text", class: "form-control", id: "item", value: @expense.item, name: "item" }
  %div(class="form-group")
    %label(for="cost") Cost
    %input{type: "text", class: "form-control", id: "cost", value: display_as_currency(@expense.cost), name: "cost"}
  %div(class="form-group")
    %label(for="purchaser") Purchaser
    %select(name="person_id" id="purchaser" class="form-control")
      - @people.each do |person|
        %option{ value: person.id, selected: @expense.person_id == person.id }= person.name
  %div(class="form-group")
    %label People sharing expense
    %div(class="checkbox")
      %label(for="select_all")
        %input{ type: "checkbox", id: "select_all" } Check/Uncheck All
    - @people.each do |person|
      %div(class="checkbox")
        %label{ for: person.id }
          %input{ type: "checkbox", id: person.id, class: "checkbox_item", name: "person_expense_record[]", value: person.id, checked: @people_sharing_expense.include?(person.id) }= person.name
  %button(type="submit") Update Expense

%br
%a(href="/people" title="People") Back
